html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}

/* clicked links should not change color */

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}
.form-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  margin: 10px 0;
}

#root {
  position: relative;
  max-width: 975px;
  margin: 0 auto;
  background-color: #fafafa;
  border: 1px solid #000;
  min-height: 100vh;
}
