.reset-password {
  &__inner {
    max-width: 348px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }
  &__logo {
    width: 175px;
    height: 51px;
    background-image: url('/32f0a4f27407.png');
    background-position: 0 -130px;
    margin: 25px 0 20px;
    font-size: 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
}