
.navigation-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 998;
  &__wrapper {
    width: 100%;
    max-width: 200px;
    li {
      list-style: none;
    }
  }
  a {
    height: 100%;
    display: block;
  }
  &__item {
    width: 22px;
    height: 22px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('/icons/icons-sprite.svg');
    &.feed {
      background-position: 0 -182px;
      &.active {
        background-position: 0 -160px;
      }
    }
    &.direct {
      background-position: 0 -69px;
      &.active {
        background-position: 0 -69px;
      }
    }
    &.explore {
      background-position: 0 -114px;
      &.active {
        background-position: 0 -92px;
      }
    }
    &.notifications {
      background-position: 0 -274px;
      &.active {
        background-position: 0 -251px;
      }
    }
    &.user-menu {
      background-size: cover !important;
      &.active {
        border: 1px solid #000;
        border-radius: 50%;
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 35px;
    right: -20px;
    width: 230px;
    background: #fff;
    border-radius: 6px;
    box-shadow: -2px -6px 16px 2px rgba(0,0,0,0.2);
    user-select: none;
    z-index: 998;
    & .backdrop {
      display: block;
      cursor: default;
      z-index: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 21px;
      width: 20px;
      height: 20px;
      display: block;
      background: #fff;
      transform: rotate(45deg)
    }
    &-item {
      position: relative;
      padding: 12px 16px 8px 46px;
      background-repeat: no-repeat;
      background-position: 16px center;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 16px;
        width: 16px;
        height: 16px;
      }
      &.profile::before {
        background: url('/icons/icons-sprite.svg');
        background-position: 0 140px;
      }
      &.settings::before {
        background: url('/icons/icons-sprite.svg');
        background-position: 0 16px;
      }
      &.log-out {
        border-top: 1px solid #dbdbdb;
        padding-left: 16px;
      }
      &:hover {
        background-color: #fafafa;
      }
    }
    &.notifications {
      padding: 40px;
    }
  }
  &__dropdown-item,
  &__item {
    cursor: pointer;
    position: relative;
  }
}