.page-header {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  padding: 7px 0;
  &__inner {
    max-width: 975px;
    margin: 0 auto;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}