.user-list {
  position: absolute;
  border: 1px solid black;
  left: 50%;
  top: 400px;
  transform: translate(-50%,-50%);
  background: #fff;
  z-index: 999;
  /* margin: 0 50%; */
  /* transform:translate(-50%, 0); */
  /* width: auto; */
}

.user-list__backdrop {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: -0%;
  top: 0;
  z-index: 998;
}