.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -0%;
  z-index: 998;
  display: none;
}
.backdrop.show {
  display: block;
}

.search .search__form,
.search__results,
.search {
  position: relative;
  z-index: 999;
}

.search input {
  text-align: center;
}

.search input:focus {
  text-align: left;
}

.search__form__clear,
.search__form__loading {
  position: absolute;
  right: 8px;
}

.search__form__input {
  padding-right: 25px;
}

.search__results {
  background: #fff;
  position: absolute;
  width: 108%;
  top: 45px;
  max-height: 350px;
  overflow-y: auto;
}

.search__results__single {
  display: flex;
}

.search__results__single__info {
  display: flex;
  flex-direction: column;
}