.user-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__posts {
    &__single {
      width: 31.3%;
      height: 0;
      padding-bottom: 31%;
      img {
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  &__post-popup {
    position: relative;
  }
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    &__single {
      position: relative;
      display: block;
      padding: 17px 0 17px 18px;
      margin: 0 30px;
      background-position-y: 48%;
      background-repeat: no-repeat;
      text-transform: uppercase;
      color: #8E8E8E;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      &::after {
        position: absolute;
        left: 0;
        top: 19px;
        content: "";
        width: 12px;
        height: 12px;
        display: block;
        background: url('/icons/icons-sprite.svg');
      }
      &.feed::after {
        background-position: 0 -148px;
      }
      &.saved::after {
        background-position: 0 -372px;
      }
      &.tab-active {
        color: #262626;
        &::before {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          width: 100%;
          display: block;
          height: 1px;
          background-color: #262626;
        }
        &.feed::after {
          background-position: 0 -136px;
        }
        &.saved::after {
          background-position: 0 -360px;
        }
      }
    }
  }
  &__posts {
    display: flex;
    flex-wrap: wrap;
    &__single {
      position: relative;
      max-width: 33%;
      margin: 0 28px 28px 0;
      font-size: 0;
      img {
        width: 100%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &__hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity:0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: rgba(0,0,0,0.5);
        transition: opacity 0.2s ease-in-out;
        align-items: center;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        & > div {
          display: flex;
          align-items: center;
          span {
            padding-left: 7px;
            font-weight: bold;
          }
        }
        &__likes {
          margin-right: 30px;
          &__icon {
            background: url('/images/32f0a4f27407.png') no-repeat -340px -335px;
            width: 20px;
            height: 18px;
          }
        }
        &__comments {
          &__icon {
            background: url('/images/32f0a4f27407.png') no-repeat -382px -334px;
            width: 20px;
            height: 18px;
          }
        }
      }
      &:hover &__hover {
        opacity: 1;
      }
    }
  }
  &__user-posts-empty {
    &__badge {
      background: url('/images/32f0a4f27407.png') no-repeat -128px -269px;
      width: 62px;
	    height: 62px;
    }
    h4 {
      font-weight: normal;
      font-size: 28px;
    }
    &__image-wrapper {
      max-width: 380px;
      img {
        max-width: 100%;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      h4 {
        font-size: 18px;
        margin: 0 0 10px;
      }
      p {
        margin: 0 0 25px;
      }
    }
    &.own {
      display: flex;
      background-color: #fff;
    }
    &.others {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 60px auto 0;
    }
  }
  &__saved-posts-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 60px auto 0;
    text-align: center;
    &__badge {
      width: 62px;
      height: 62px;
      background-image: url('/images/32f0a4f27407.png');
      background-position: -192px -269px;
    }
    &__title {
      margin: 24px 0;
      font-size: 28px;
      font-weight: normal;
    }
  }
}