.user-profile__posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-profile__posts__single {
  width: 31%;
  height: 0;
  padding-bottom: 31%;
}

.user-profile__posts__single img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}