.navigation-menu__wrapper li {
  list-style: none;
}

.navigation-menu {
  display: flex;
}

.navigation-menu a {
  height: 100%;
  display: block;
}

.navigation-menu__item {
  width: 20px;
  height: 20px;
  background: red;
  margin: 5px;
}

.navigation-menu__dropdown-item,
.navigation-menu__item {
  cursor: pointer;
  position: relative;
}

.navigation-menu__dropdown {
  position: absolute;
  top: 30px;
  width: 100px;
  background: #fff;
}

.navigation-menu__dropdown-item {
  padding: 5px 10px 5px 0;
}