.header-search {
  position: relative;
  margin-left: 100px;
  z-index: 997;
  &__form {
    position: relative;
    z-index: 997;
    &__clear {
      position: absolute;
      top: 7px;
      right: 8px;
      background: url('/images/32f0a4f27407.png') no-repeat -321px -336px;
      width: 14px;
      height: 14px;
      cursor: pointer;
    }
    &__loading {
      position: absolute;
      right: 8px;
    }
    &__input {
      position: relative;
      text-align: center;
      padding: 0 25px 0 25px;
      min-height: 28px;
      width: 215px;
      border: 1px solid #dbdbdb;
      background-color: #fafafa;
      overflow: visible;
      &:focus {
        text-align: left;
        &::placeholder {
          background-position: -25px 1px;
        }
      }
      &::placeholder {
        
        background: url('/icons/magnifier.png') no-repeat;
        background-position: 45px 1px;

      }
    }
  }
  &__results {
    position: absolute;
    top: 45px;
    left: -8px;
    min-width: 225px;
    max-height: 350px;
    background: #fff;
    z-index: 997;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    box-shadow: -2px -6px 16px 2px rgba(0,0,0,0.2);
    &:empty {
      display: none;
    }
    &__single {
      display: flex;
      min-width: 225px;
      padding: 17px 14px;
      font-size: 14px;
      line-height: 15px;
      border-bottom: 1px solid #dbdbdb;
      &__image-wrapper {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 50%;
        background-image: url('/icons/no-avatar.png');
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__name {
        color: #8E8E8E;
      }
      &__username {
        color: #262626;
        font-weight: bold;
      }
      &__name,
      &__username {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__info{
        display: flex;
        flex-direction: column;
      }
      &:hover {
        background-color: #fafafa;
      }
    }
    &-empty {
      padding: 15px;
    }
  }
}