.signup-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  
  &__wrapper {
    max-width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 0 40px;
  }
  &__logo {
    width: 175px;
    height: 51px;
    background-image: url('/images/32f0a4f27407.png');
    background-position: 0 -130px;
    margin: 32px 0 12px;
    font-size: 0;
  }
  &__description {
    margin: 0 0 10px;
    color: #999999;
    text-align: center;
  }
  &__facebook-link {
    background-color: #2795f6;
    padding: 6px 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    &__icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      background-image: url('/images/32f0a4f27407.png');
      background-position: -414px -300px;
      background-repeat: no-repeat;
    }
    &__text {
      color: #fff;
    }
    &-wrapper {
      width: 100%;
      text-align: center;
      margin-bottom: 18px;
    }
  }
  &__form {
    max-width: 258px;
    margin: 0 auto;
  
    &__input-wrapper {
      position: relative;
      margin: 4px 0;
      &.psw {
        position: relative;
        input {
          padding-right: 40px;
        }
        .password-visibility-toggle {
          position: absolute;
          right: 10px;
          top: 11px;
          margin: 0;
          height: 10px;
          font-size: 14px;
          font-weight: 600;
          user-select: none;
          cursor: pointer;
        }
      }
    }
    &__input {
      width: 258px;
      height: 38px;
      margin: 0;
      padding-left:10px;
      background-color: #fafafa;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      resize: none;
      font-size: 12px;
      &-label {
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        margin: 0;
        transition: all 0.2s ease-in-out;
        color: #262626;
        font-size: 12px;
        color: grey;
        &.not-empty {
          font-size: 10px;
          transform: translateY(-90%);
        }
      }
      &:focus {
        border-color: #999595;
      }
      &.not-empty {
        padding-top: 17px;
      }
    }
  }



  &__disclaimer {
    margin: 10px 0 40px;
    padding: 0 8px;
    font-size: 12px;
    color: #8E8E8E;
    text-align: center;
  }
  &__login-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 348px;
    margin: 10px 0 5px;
    padding: 9px 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    a {
      color: #0094f6;
      margin-left: 5px;
    }
  }
  .button-blue {
    margin-top: 14px;
    background-color: #2795f6;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}

