.user-profile__posts__single {
  max-width: 33%;
  position: relative;
  font-size: 0;
}

.user-profile__posts__single img {
  width: 100%;
}

.user-profile__posts__single__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity:0;
  transition: opacity 0.2s ease-in-out;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

}

.user-profile__posts__single:hover .user-profile__posts__single__hover {
  opacity: 1;
}
